{% extends "base.html" %} {% load static %} {% block title %} {{ post.title }}
{% endblock %} {% block content %}
<article>
  <div>
    <p id="title">{{ post.title|title }}</p>
    <p id="sub_title">{{ post.sub_title }}</p>
    <div id="post_body">{{ post.body|safe }}</div>
    <div id="post_info">
      <div class="post_user_info">
        <a href="{% url 'profile' post.user.profile.id %}"><img src="{{ post.user.profile.photo.url }}" /></a>
        <a href="{% url 'profile' post.user.profile.id %}">{{ post.user }}</a>
      </div>

      <sub><i class="fa fa-calendar" aria-hidden="true" style="margin: 2px;"></i>
        {{ post.created | date:"l d F Y , H:i" }}</sub>
      <br>
      {% if post.created != post.updated %}
      <sub> <i class="fa fa-calendar" aria-hidden="true" style="margin: 2px;"></i>
        {{ post.updated | date:"l d F Y , H:i"}}</sub>

      {% endif %}
      <hr style="width: 60%; margin: 0 auto ; color: #eaeaea; margin-bottom: 30px ;margin-top: 30px;" />
    </div>

    <div class='tag'>
      {% for tag in post.tags.all %}
      <a href="{% url 'tags' tag %}">
        <p>{{ tag }} </p>
      </a>
      {% endfor %}
    </div>
</article>

<div id="count_likes">{{ post.total_likes }}<b> إعجاب</b> | {{ comments.count }}<b> تعليق</b>  </div>
<!-- likes & creat_comments -->
{% if user.is_authenticated %}
<div class="save_like">

  <div>
    <i class="fa fa-heart fa-2x like" id="like" aria-hidden="true"></i>
  </div>
  <div>
    <i class="fa fa-bookmark fa-2x save" id="{{ post.id }}" aria-hidden="true"></i>
  </div>
  {% if post.user == user %}
  <div><button id="delete_post" class="submit"><i class="fa fa-trash-o fa-lg"></i>حذف</button></div>
  {% endif %}
</div>
<div class="ask_for_delete">
  <div class="text_help">are you sure you wanna delete this post</div>
  <button id="delete" class="submit">delete</button>
  <button id="cansole" class="submit">console</button>
</div>
{% endif %}

<div class="related_posts">
  {% for post in related_posts %}
  <div class="related_post">
    <div class="post_user_info">
      <div><a href="{% url 'post' post.id post.status %}"><img src="{{ post.picture.url }}"
            class='related_picture' /></a></div>
      <div><a href="{% url 'post' post.id post.status %}">{{ post.title }}</a></div>
    </div>
    <div class="post_user_info user">
      <img src="{{ post.user.profile.photo.url }}" />
      <a href="{% url 'profile' post.user.profile.id %}">{{ post.user }}</a>
    </div>
    <sub> <i class="fa fa-calendar" aria-hidden="true" style="margin: 2px;"></i>
      {{ post.created | date:"l d F Y , H:i"}}</sub>
  </div>
  {% endfor %}
</div>
{% if request.user.is_authenticated %}



<div class="root_forms">
  <form method="POST" id="creat_comment" autocomplete="off">
    {{ form.as_p }} {% csrf_token %}
    <button type="submit" class="submit"><i class="fa fa-commenting-o" aria-hidden="true"></i> تعليق </button>
  </form>
</div>

{% endif %}

<!-- comment_list -->

<fieldset>
  <legend>comments</legend>
<div class="comment_items">
  <div class="new_comment"></div>
  {% for comment in comments %}
  <div class="comment_item">
    {% if comment.user == user %}
    <i class="fa fa-trash fa-lg delete_comment" onclick="delete_comment()" id="{{ comment.id }}"></i>
    {% endif %}
    <div class="post_user_info">
      <img src="{{ comment.user.profile.photo.url }}" />
      <a href="{% url 'profile' comment.user.profile.id %}">{{ comment.user }}</a>
    </div>
    <p class="comment">{{ comment.comment }}</p>
    <sub> <i class="fa fa-calendar" aria-hidden="true"
        style="margin: 2px;"></i>{{ comment.created | date:"l d F Y , H:i" }}</sub>
  </div>
  {% endfor %}
</div>
</fieldset>





{% if user.is_authenticated %}
<script>
  const data = {
    id: "{{ post.id }}",
    csrfmiddlewaretoken: "{{ csrf_token }}",
  };
  const delete_comment = () => {
    const par = $(event.target.parentElement);
    $.ajax({
      type: "POST",
      url: "{% url 'delete_comment_api' %}",
      data: {
        id: event.target.id,
        csrfmiddlewaretoken: "{{ csrf_token }}",
      },
      dataType: "json",
      success: (e) => {par.fadeOut(400, () => par.remove())
      $("#count_likes").html(`{{post.total_likes}} <b> إعجاب</b> | ${ e.comments_count }<b> تعليق</b> `);},
    });
  };
  $("#like").click(() => {
    $.ajax({
      type: "POST",
      url: "{% url 'like_api' post.id %}",
      data: {
        csrfmiddlewaretoken: "{{ csrf_token }}"
      },
      dataType: "json",
      success: (e) => {
        $("#count_likes").html(`${e.likes_count} <b> إعجاب</b> | ${ e.comments_count }<b> تعليق</b> `);
        $('#like').toggleClass('fa-heart-o')
      },
    });
  });
  $("#creat_comment").on("submit", function (e) {
    e.preventDefault();
    $.ajax({
      type: "POST",
      url: "{% url 'comment_api' %}",
      data: {
        id: "{{ post.id }}",
        comment: $("#id_comment").val(),
        csrfmiddlewaretoken: "{{ csrf_token }}",
      },
      dataType: "json",
      success: (e) => {
        $("#count_likes").html(`{{post.total_likes}} <b> إعجاب</b> | ${ e.comments_count }<b> تعليق</b> `);
        $(".comment_items").append(
          `<div class="comment_item">      
                <i class="fa fa-trash  fa-lg delete_comment" onclick="delete_comment()" id=${e.id}></i>
                <div class="post_user_info">
            <img src="{{ request.user.profile.photo.url }}">
            <a href="{% url 'profile' user.profile.id %}">{{ user }}</a>
          </div>
            <p class="comment">${e.comment}</p>
            <sub> <i class="fa fa-calendar" aria-hidden="true" style="margin: 2px;"></i> الان</sub>
        </div>`
        );
        $("#id_comment").val("");
      },
    });
  });
  $(".save").click(() => {
    $.ajax({
      type: "POST",
      url: '{% url "save_api" %}',
      data: data,
      dataType: "json",
      success: (e) => {
        $('.save').toggleClass('fa-bookmark-o')
      },
    });
  });

  $.ajax({
    type: "GET",
    url: "{% url 'is_saved_api' %}",
    data: data,
    dataType: "json",
    success: (e) => {
      if (e.items) $(".save ").removeClass('fa-bookmark-o')
      else $(".save ").addClass('fa-bookmark-o')
    },
  });
  $.ajax({
    type: "GET",
    url: "{% url 'is_liked_api' %}",
    data: data,
    dataType: "json",
    success: (e) => {
      if (e.user_liked)
        $("#like ").removeClass('fa-heart-o')
      else
        $("#like").addClass('fa-heart-o')
    },
  });

  $("#delete_post").click(() => {
    const e = document.querySelector(".ask_for_delete");
    e.classList.add("open");
    $("body").css('pointer-events', 'none');
  });
  $("#cansole").click(() => {
    const e = document.querySelector(".ask_for_delete");
    e.classList.remove("open");
    $("body").css('pointer-events', 'all')
  });
  $("#delete").click(() => {
    $.ajax({
      type: "POST",
      url: '{% url "delete_post_api" %}',
      data: data,
      dataType: "json",
      success: () => {
        $(".text_help").html("back home");
        $("#delete").html("<a href='{% url 'posts' %}' >home</a>");
        $("#cansole").html(
          "<a href='{% url 'profile' user.profile.id %}'>profile</a>"
        );
        $(".ask_for_delete button a").css({
          color: "black",
          "text-decoration": "none",
        });
      },
    });
  });
</script>
{% endif %} {% endblock %}