{% extends "base.html" %}
{% block title %} تسجيل الدخول {% endblock %}


{% block content %}
<h2>تسجيل الدخول</h2>
<div class="root_forms">
    <form method="POST" autocomplete="off">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="تسجيل" class="submit">
    </form>
    <sub><a href="{% url 'signup' %}">إنشاء حساب جديد</a></sub>
    <br>
    <sub><a href="{% url 'reset_password' %}"> نسيت كلمة السر </a></sub>
</div>
<style>
    .root_forms {
        margin-top: 120px;
    }
  
</style>
{% endblock %}