{% extends "base.html" %} {% load static %}
{% block title %} {{ user.username }} - الصفحة الشخصية{% endblock %}
{% block content %}


<div style="padding: 20px;"></div>
<div class="profile">
  {% if request.user.profile.super_profile %}
  <div>
    <div id="make_super">
      <div></div>
    </div>
  </div>
  {% endif %}

  <div class='picture'>
    <img id="clip1" src=" {{ profile.photo.url }} " alt="img of {{ user.username }}" />
  </div>

  <p>{{ user.first_name }} {{ user.last_name }}</p>
  <p><a href="mailto:{{ user.email }}">
      {{ user.email }}
    </a></p>
  <p>{{ profile.bio }}</p>
  <br>
  {% if profile.website %}
  <li><a href="{{ profile.website }}"> webite</a></li>
  {% endif %}
</div>

<h2>{{ user.username }}</h2>
<div style="margin: 20px auto; border-top: 2px solid rgba(0, 0, 0, 0.9); width:60%;">
</div>


<!-- posts -->



<section>
  {% if posts %}
  {% for  post in posts %}
  <article class="articles">
    {% if post.picture %}
    <a href="{% url 'post' post.id  post.status %}">
      <img class='post_img' src="{{ post.picture.url }}">
    </a>
    {% endif %}
    {% if request.user.is_authenticated %}
    <i class="fa fa-bookmark fa-2x save" style=" margin-bottom: -40px; margin-right: 5px;" id="{{ post.id }}"
      aria-hidden="true"></i>
    {% if request.user == user %}
    <span class="edit_span">
      <button>...</button>
      <div class="edit_list">
        <ul>
          <li><a href="{% url 'update_post' post.id post.status %}">تعديل</a></li>
          <li><a href="#">حذف</a></li>
        </ul>
      </div>
    </span>
    {% endif %}
    {% endif %}
    <div class='post'>
      <a href="{% url 'post' post.id  post.status %}" style="text-decoration: none">
        <h2>{{ post.title }}</h2>
      </a>
      <footer class="post_user_info" style=" margin: 12px auto;">
      </footer>
      <div style="margin-right: 5px; margin-bottom: 12px;">
        <sub> <i class="fa fa-calendar" aria-hidden="true" style="margin: 4px; "></i>
          {{ post.created | date:"l d F Y , H:i"}}</sub>
      </div>
    </div>
  </article>
  {% endfor %}
  {% else %}
   <div style="margin: 50px;">
        <h2>أسف لا يوجد أي مقال !! </h2>
    </div>
  {% endif %}
</section>


{% if user.is_authenticated %}
<script>
  const data = {
    id: "{{ user.profile.id }}",
    csrfmiddlewaretoken: "{{ csrf_token }}",
  }
  const add_style = (bool) => {
    if (bool) {
      $("#make_super div").css({
        float: "right",
        background: "rgb(20, 240, 20)",
      });
      $("#make_super").css({
        background: "#fafafa",
      });

    } else {
      $("#make_super div").css({
        float: "left",
        background: "rgb(240, 20, 20)",
      });
      $("#make_super").css({
        background: "#ffffff",
      });

    }
  };
  $("#make_super").click(() => {
    $.ajax({
      type: "POST",
      url: '{% url "super_profile_api" %}',
      data: data,
      dataType: "json",
      success: (e) => {
        add_style(e.is_super_profile);
      },
    });
  });
  $.ajax({
    type: "GET",
    url: "{% url 'is_super_profile_api' %}",
    data: data,
    dataType: "json",
    success: (e) => {
      add_style(e.is_super_profile);
    },
  });
  $('.save').click((e) => {
    item = e.target
    $.ajax({
      type: 'POST',
      url: '{% url "save_api" %}',
      data: {
        'id': e.target.id,
        csrfmiddlewaretoken: "{{ csrf_token }}",
      },
      dataType: 'json',
      success: (e) => {

        $(item).toggleClass('fa-bookmark-o')
      }
    })
  })
  $.ajax({
    type: "GET",
    url: "{% url 'is_saved_api' %}",
    data: {
      id: '',
      tag: '',
      query: '',
      profile_id: '{{ profile.id }}',
    },
    dataType: "json",
    success: (e) => {
      const items = $('.articles .save')
      for (let i = 0; i < e.items.length; i++) {
        if (e.items[i])
          $(items[i]).removeClass('fa-bookmark-o')
        else
          $(items[i]).addClass('fa-bookmark-o')

      }
    },
  });
</script>
{% endif %}


{% endblock %}
