<nav>
        {% block search %}
        <form action="{% url 'search' %}" method="GET" class='search_form'>
            <label>
                <input name="q" type="search" placeholder="بحث" aria-label="Search">
                <button type="submit"><i class="fa fa-search fa-1x" aria-hidden="true"></i> بحث</button>
            </label>
        </form>
        {% endblock %}
            <ul>
                <li><a href="{% url  'posts' %}" id="home" >مرام</a></li>
                <li><a href="{% url 'top_tags' %}">أفضل المواضيع</a></li>
                <li><a href="{% url 'top_posts' %}">أفضل المقالات</a></li>
                {% if request.user.is_authenticated %}
                <li><a href="{% url  'profile' request.user.profile.id %}">الصفحة الشخصية</a></li>
                <li><a href="{% url 'create_post' %}">إنشاء</a></li>
                <li><a href="{% url  'logout' %}">تسجيل الخروج</a></li>
                {% else %}
                <li><a href="{% url  'login' %}">تسجيل الدخول</a></li>
                {% endif %}
            </ul>
</nav>
